body {
	padding: 0;
	margin: 0;
	background-color: #C4F2BC;
}


h1 {
  color: #BF936E;
  text-align: center;
  font-family: 'Rochester', cursive;
  font-size: 3em;
  padding: 10px;
  margin: 0;
}

.Header{
  background-color: #C4F2BC;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6em;
}

.navbar{
  width: 100%;
  margin-top: 3px;
  border-bottom: solid white;
  position: fixed;
  top: 6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BF936E;
}

li a {
  float: left;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-family: 'Allura', cursive;
  font-size: 1.75em;
  color: white;
  padding: 0.25em;
  width: 20%;
}

li a:hover {
  background-color: #D8B191;
  color: white;
}
.active {
	background-color: #D8B191;
	color: white;
}

.homecontent{
  margin-top: 100px;
  font-family: 'Source Sans Pro', sans-serif;
}

.homeimage {
	display: block;
	width: 50%;
	height: 50%;
	margin-top: 10em;
	margin-left: auto;
	margin-right: auto;
}

.hometext {
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-bottom: 3%;
}

.shopcontent {
	margin-top: 10em;
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	color: black;
	margin-left: 12.5%;
	font-family: 'Allura', cursive;
	font-size: 3em;
	margin-bottom: 0;
}

h3 {
	color: black;
	font-family: 'Allura', cursive;
	font-size: 3em;
	display: block;
	margin: 0;
}

.shopimage {
	display: inline-block;
	width: 37%;
	margin-left: 12.5%;
	margin-bottom: 5%;
	margin-right: 0%;
}

.shopimage1 {
	width: 100%;
}

.ProductDescription {
	display: inline-block;
	width: 37%;
	float: right;
	margin-left: 3px;
	margin-bottom: 5%;
	margin-right: 12.5%;
	font-family: 'Source Sans Pro', sans-serif;
}

table {
	border-collapse: collapse;
}

table, th, td {
  border: 2px solid black;
}

th {
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  position: relative;
  top: 10em;
  z-index: -1;
  margin-bottom: 3%;
}

.blogimage1 {
	grid-column: 2 / 3;
	display: block;
	width: 100%;
	height: 100%;
}

.blogtext1 {
	grid-column: 3 / 4;
	margin-left: 5px;
}

.blogtext2 {
	grid-column: 2 / 3;
}

.blogimage2 {
	grid-column: 3 / 4;
	margin-left: 5px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr 0.25fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  position: relative;
  top: 10em;
  z-index: -1;
  margin-bottom: 3%;
}

.galleryimage1 {
	grid-column: 2 / 4;
	grid-row: 1 / 5;
	width: 100%;
}

.galleryimage2{
	grid-row: 1 / 2;
	grid-column: 4 / 5;
	width: 100%;
}

.galleryimage3 {
	grid-row: 2 / 3;
	grid-column: 4 / 5;
	width: 100%;
}

.galleryimage4 {
	grid-row: 3 / 4;
	grid-column: 4 / 5;
	width: 100%;
}

.galleryimage5 {
	grid-row: 4 / 5;
	grid-column: 2 / 3;
	width: 100%;
}

.galleryimage6 {
	grid-row: 4 / 5;
	grid-column: 3 / 4;
	width: 100%;
}

.galleryimage7 {
	grid-row: 4 / 5;
	grid-column: 4 / 5;
	width: 100%;
}

.galleryimage8 {
	grid-row: 5 / 7;
	grid-column: 2 / 5;
	width: 100%;
}

.aboutcontent{
  margin-top: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.aboutimage {
	display: block;
	width: 25%;
	height: 25%;
	margin-top: 10em;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	border-top: 2px solid white;
	background-color: #BF936E;
	position: fixed;
	bottom: 0;
	width: 90%;
	height: 2em;
	padding-left: 10%;
	padding-top: 2px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}